In [ ]:
from google.colab import drive
drive.mount('/content/d')

Drive already mounted at /content/d; to attempt to forcibly remount, call drive.mount("/content/d", force_remount=True).

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
df_VP=pd.read_csv('/content/d/MyDrive/CAPSTONE_DATA/CLEAN2.csv')

In [ ]:
f1=df_VP[['asin','also_view','also_buy','brand']]
# df_VP.loc[[f1]]
d10=f1.copy()

In [ ]:
d10=pd.DataFrame(d10)

In [ ]:
also_viewed_list=' '.join(d10['also_view'])

In [ ]:
also_viewed_list=also_viewed_list.split(',')

In [ ]:
#fin_list_ofviewed_asins=list(enumerate(also_viewed_list))
#fin_list_ofviewed_asins=also_viewed_list.count(also_viewed_list)
from itertools import combinations
from collections import Counter

count = Counter()

x=Counter(also_viewed_list)

In [ ]:
# for i in x.elements():
#     print( "% s : % s" % (i, x[i]), end ="\n")

In [ ]:
#most common Also viewed ASINS

for row in df_VP['also_view']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))

for key,value in count.most_common(10):
    print(key, value)

(" 'B01NB1SXMZ'", " 'B079J5VWWK'") 2055
(" 'B079J5VWWK'", " 'B07JZCFFQR'") 1919
(" 'B01GQWT4SE'", " 'B079J5VWWK'") 1910
(" 'B00S3FEOAG'", " 'B079J5VWWK'") 1890
(" 'B01NB1SXMZ'", " 'B07JZCFFQR'") 1815
(" 'B017JOXG2I'", " 'B072N6BD9V'") 1723
(" 'B01GQWT4SE'", " 'B072N6BD9V'") 1691
(" 'B017JOXG2I'", " 'B07JZCFFQR'") 1691
(" 'B01GQWT4SE'", " 'B07C2CVRN2'") 1677
(" 'B072N6BD9V'", " 'B0747WWP4D'") 1665

In [ ]:
top_viewed_df=pd.DataFrame(count.most_common(10),columns=['also_viewed','Counts'])

In [ ]:
#most common Also bought ASINS

for row in df_VP['also_buy']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))

for key,value in count.most_common(10):
    print(key, value)

(" 'B01FS0AAZG'", " 'B076MM5LM7'") 2606
(" 'B017A59580'", " 'B01KXJ70YQ'") 2324
(" 'B01GQWT4SE'", " 'B072N6BD9V'") 2308
(" 'B01KXJ70YQ'", " 'B00K15Q2B0'") 2304
(" 'B017A59580'", " 'B00NMWYA36'") 2250
(" 'B079J5VWWK'", " 'B079J4PYXN'") 2171
(" 'B01FS0AAZG'", " 'B072N6BD9V'") 2146
(" 'B01KXJ70YQ'", " 'B00NMWYA36'") 2121
(" 'B01GQWT4SE'", " 'B079J5VWWK'") 2086
(" 'B079J5VWWK'", " 'B07JZCFFQR'") 2067

In [ ]:
top_bought_df=pd.DataFrame(count.most_common(10),columns=['Also_Bought','Counts'])

In [ ]:
n=df_VP["asin"].str.contains('B017JOXG2I')
df_VP['brand'].loc[n][:5]

22131    ZTE
22132    ZTE
22133    ZTE
22134    ZTE
22135    ZTE
Name: brand, dtype: object

In [ ]:
df_VP['brand'].unique()

array(['BlackBerry', 'Sony', 'HTC', 'Samsung', 'LG', 'Nokia', 'Polaroid',
       'Kyocera', 'Huawei', 'ZTE', 'Pantech', 'Motorola', 'AT&T',
       'T-Mobile', 'Microsoft', 'ZTE USA', 'BLU', 'RCA', 'Alcatel',
       'Apple', 'DOOGEE', 'FreedomPop', 'Casio', 'Coolpad', 'Peirui', nan,
       'Caterpillar', 'Padgene', 'Tracfone', 'Asus', 'Hipipooo',
       'OnePlus', 'SKY Devices', 'NUU', 'Google', 'Sanyo', 'Sudroid',
       'CT-Miami LLC', 'iGearPro', 'inDigi', 'LGIC', 'ASUS',
       'Samsung Korea', 'F FORITO', 'Fsmart', 'SoonerSoft Electronics',
       'GreatCall', 'Kocaso', 'Risio', 'Cell.', 'MOTCB',
       'TRACFONE WIRELESS, INC.', 'NEC'], dtype=object)

In [ ]:
#most common Also bought ASINS

for row in df_VP['also_buy']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 1)))

for key,value in count.most_common(10):
    d=dict(count.most_common(10))
df10 = pd.DataFrame(data=d, index=[0])
df10.to_excel('alsobought.xlsx')

In [ ]:
#most common Also viewed ASINS

for row in df_VP['also_view']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 1)))

for key,value in count.most_common(10):
    d=dict(count.most_common(10))
df11 = pd.DataFrame(data=d, index=[0])
df11.to_excel('alsoviewed.xlsx')

In [ ]:
u_dict=dict(zip(df_VP.brand,df_VP.asin))
df12 = pd.DataFrame(data=u_dict, index=[0])
df12.to_excel('asins_brands.xlsx')