In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/CAPSTONE_DATA/clean3.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head(2)

   Unnamed: 0  overall  verified  ... date price no_of_viewed_items
0         566      4.0     False  ...  NaN   NaN                 20
1         567      2.0     False  ...  NaN   NaN                 20

[2 rows x 27 columns]

In [ ]:
import re 
#df['description'].str.lower()
#df['description'].str.extract('([a-z]*)', expand=True)
#df.description.replace('['', ', regex=True).astype(str)
#df_f02['rnk']=df_f02['rank'].str.extract('([0-9]*,[0-9]*,[0-9]*)', expand=False)
df.drop(columns=['description','fit','also_buy','image_meta','tech2','tech2','also_view','details'],inplace=True)

In [ ]:
df.reviewText

0        The Sidekick 2 has a better form factor than t...
1        Sidekick II is meant to be your one-stop-shop ...
2        Pro's:\n\nVery easy to use.\n\nQwerty keyboard...
3        First, let me just say to those who bash this ...
4        I started out with the sidekick color switched...
                               ...
62070    The phone was stolen could not activate at all...
62071                                                 good
62072    I purchased two of them and had so many proble...
62073                                            excelente
62074    This is a great Smartphone for someone who's n...
Name: reviewText, Length: 62075, dtype: object

In [ ]:
import string 
remove=string.punctuation

In [ ]:
df['Date&Time']=pd.to_datetime(df['Date&Time'])

In [ ]:
df.rename(columns = {'Date&Time':'Datetime'}, inplace = True)

In [ ]:
# clean summary column 

import re
def clean_tweet(tweet):
    return ' '.join(re.sub('(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|([RT])', ' ', str(tweet).lower()).split())

In [ ]:
df['CleanSummary'] = df['summary'].apply(lambda x : clean_tweet(x))
df.head(3)

   Unnamed: 0  overall  ...  no_of_viewed_items                      CleanSummary
0         566      4.0  ...                  20  better than all the alternatives
1         567      2.0  ...                  20           it s the service stupid
2         568      5.0  ...                  20               okay only 4 5 stars

[3 rows x 21 columns]

In [ ]:
df.drop(columns=['description','fit','also_buy','image_meta','tech2','tech2','also_view','details'],inplace=True)
df.to_csv('tab_start.csv')